<app-header></app-header>
<main>
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlig="space-around center">
    <h1>Alteração de senha de cliente</h1>

    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput [type]="hideSenha ? 'password' : 'text'" formControlName="senha" required>
      <button mat-icon-button matSuffix (click)="hideSenha = !hideSenha" [attr.aria-label]="'hideSenha password'" [attr.aria-pressed]="hideSenha">
        <mat-icon>{{hideSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="clienteForm.get('senha')?.errors?.required">O campo senha é obrigatório</mat-error>
      <mat-error *ngIf="clienteForm.get('senha')?.errors?.minlength">O campo senha deve conter 8 caracteres</mat-error>
      <mat-error *ngIf="clienteForm.get('senha')?.errors?.pattern">O campo senha deve conter 1 maiuscula, 1 miniscula e 2 números</mat-error>
      <mat-error *ngIf="clienteForm.get('senha')?.errors?.api">{{clienteForm.get('senha')?.errors?.message}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmação de Senha</mat-label>
      <input matInput [type]="hideSenhaConfirmation ? 'password' : 'text'" formControlName="senha_confirmation" required>
      <button mat-icon-button matSuffix (click)="hideSenhaConfirmation = !hideSenhaConfirmation" [attr.aria-label]="'hideSenhaConfirmation password'" [attr.aria-pressed]="hideSenhaConfirmation">
        <mat-icon>{{hideSenhaConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="clienteForm.get('senha_confirmation')?.errors?.required">O campo confirmação de senha é obrigatório</mat-error>
      <mat-error *ngIf="clienteForm.get('senha_confirmation')?.errors?.mismatch">A confirmação não é igual a senha</mat-error>
    </mat-form-field>

    <br/>

    <button mat-raised-button color="primary">Salvar</button>
  </form>
</main>
